@import 'style-vars.scss';

@mixin h1-styles {
  font-size: 3rem;
  font-family: $title-font;
  letter-spacing: 0.15em;
}

@mixin h2-styles {
  font-size: 2.5rem;
  opacity: 0.8;
  font-family: $title-font;
  letter-spacing: 0.12em;
}