@use 'style-vars' as v;
@use 'mixins' as m;
@use 'nav-bars' as n;



html {
  scrollbar-width: none; //for firefox
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  @include m.body-styles;  
  
}
.content-wrap {
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-rows: repeat(4, minmax(auto-fit, 1fr));
  grid-template-areas: 
    "nav sidebar"
    "main sidebar"
    "main sidebar"
    ". sidebar";
}

nav {
 @include n.nav;
}

.sidebar {
  @include n.sidebar;
  place-self: center;
  height: 100vh; // this on about me results in a gap at the top, but works on this page. why?
}

.title {
  @include m.h1-styles;
  @include m.center-block;
  margin-bottom: 0;
  width: 80%;
  font-size: 2.5rem;
}

.subheading {
  @include m.subheading-styles;
  @include m.center-block;
  margin-top: 0;
  width: 80%;
  font-size: 1.2rem;
  padding-left: 5rem;
}

.contact-form {
  margin-top: 50px;
}

 .form-input, .form-label, .form-button-wrap {
 @include m.center-block;
  width: 25rem;
  margin-top: 10px;
}

.form-input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 5px 5px 0 v.$accent-color;
  &:focus {
    outline:0;
    border: 5px solid #91f7d5;
  }
}

.form-label {
  @include m.p-styles;
}


textarea {
  height: 150px;
}

.form-button-wrap {
 display: flex;
 justify-content: center;
}

.form-button {
  margin: 15px;
  padding: 5px;
  width: 6rem;
  border: 0px solid #6c6ee1;
  border-radius: 15px;
  box-shadow:
             4px 3px 5px #f91a6f;
  font-size: 1rem;
  color: v.$background-color;
  background-color: white;
  font-family: v.$paragraph-font;
  &:hover {
    color: #f91a6f;
  } 
  &:focus {
    outline:0;
    color: #f91a6f;
  }
}

.footnote {
  @include m.center-block;
  width: 5rem;
  @include m.p-styles;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.show-helper-text {
  display: block;
  color: #f91a6f;
  font-size: 1rem;
}

.input-error {
  border: 2px solid #f91a6f;
}



@media only screen and (max-width: 500px) {
  html {
    font-size: 11px;
  }
  .sidebar {
    display: none;
  }
}


@media only screen and (max-width: 380px) {
  html {
    font-size: 9px;
  }
  .sidebar {
    display: none;
  }
}


@media only screen and (max-height: 667px) {
  html {
    font-size: 9px;
  }
  .sidebar {
    display: none;
  }
  textarea {
    height: 120px;
  }
  .contact-form {
    margin-top: 20px;
  }
}