@import 'style-vars.scss';
@import 'mixins.scss';

html {
  scrollbar-width: none; //for firefox
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  @include body-styles;  
}

.title {
  @include h1-styles;
  @include center-block;
  margin-bottom: 0;
  width: 80%;
  font-size: 2.5rem;
}

.subheading {
  @include subheading-styles;
  @include center-block;
  margin-top: 0;
  width: 80%;
  font-size: 1.2rem;
  padding-left: 5rem;
}

.contact-form {
  margin-top: 50px;
}

 .form-input, .form-label, .form-button-wrap {
 @include center-block;
  width: 25rem;
  margin-top: 10px;
}

.form-input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 5px 5px 0 $accent-color;
  &:focus {
    outline:0;
    border: 5px solid #91f7d5;
  }
}

.form-label {
  @include p-styles;
}


textarea {
  height: 150px;
}

.form-button-wrap {
 display: flex;
 justify-content: center;
}

.form-button {
  margin: 15px;
  padding: 5px;
  width: 6rem;
  border: 0px solid #6c6ee1;
  border-radius: 15px;
  box-shadow:
             4px 3px 5px #f91a6f;
  font-size: 1rem;
  color: $background-color;
  background-color: white;
  font-family: $paragraph-font;
  &:hover {
    color: #f91a6f;
  } 
  &:focus {
    outline:0;
    color: #f91a6f;
  }
}

.footnote {
  @include center-block;
  width: 5rem;
  @include p-styles;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.show-helper-text {
  display: block;
  color: #f91a6f;
  font-size: 1rem;
}

.input-error {
  border: 2px solid #f91a6f;
}




@media only screen and (max-width: 500px) {
  html {
    font-size: 11px;
  }
}


@media only screen and (max-width: 380px) {
  html {
    font-size: 9px;
  }
}