@use 'style-vars' as v;
@use 'mixins' as m;
@use 'nav-bars' as n;

html {
  scrollbar-width: none; //for firefox
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  @include m.body-styles;
}

.main-text {
  @include m.p-styles;
}

.content-wrap {
  // display: grid;
  // grid-template-rows: repeat(auto-fit, auto);
  // place-items: center;
  width: 100%;
  // background-color: $background-color;
}

// .sidebar {
// @include n.sidebar;
// }
  
nav {
   @include n.nav;
}

  .header {
    width: 100%;
  }

  .header-heading {
         margin: 2rem 0 0 2rem;  
         @include m.h1-styles;
         &:hover {
          color: v.$accent-pink;
        }
         animation-duration: 1s;
         animation: fade-in ease 4s;        
  } 

  .header-subheading {
        width: 100%;
        font-size: 1.8rem;
        font-family: v.$paragraph-font;
        text-align: center;
        letter-spacing: 0.1em;
        // text-transform: uppercase;
        font-style: italic;
        color: v.$font-color;
        animation-duration: 2s;
        animation: fade-in ease 6s;
  }

      
  .header-image {
        display: block;     
        width: 15rem;
        height: auto;
        margin: 4rem auto;
        border-radius: 50%;
        box-shadow: 5px 5px 5px #0102289e,
                    20px 0 0 v.$font-color; 
        transform: rotate(-5deg);  
        animation: fade-in ease 6s;
  
  }


  @keyframes rotate {
    0% {
      transform: rotate(0deg)
    }

    30% {
      transform: rotate(30deg)
    }
    30% {
      transform: rotate(-30deg)
    }

    100% {
      transform: rotate(-5deg)
    }
  }


@keyframes fade-in {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes slidein {
  from {
    margin-top: -100rem;
 }

  to {
    margin-left: 2rem;
    width: 85%;
  }
}

article {
    // grid-area: article; // didn't work
    max-width: 100%;
    margin: 1rem auto;
    padding: 0.5rem 0;
    // animation: fade-in ease 9s;
    background-color: white;
    // border-radius: 10px;
}

.h2-heading {
  @include m.subheading-styles;
  color: v.$background-color;
  text-align: center;
  margin: 1rem;
  }

.article-text {
  width: 60%;
  display: block;
  margin: 0 auto 3rem auto;
  
  @include m.p-styles;
  text-align: justify;
  color: v.$background-color;
  

  
}       

// .article-subheading {
//   font-family: v.$title-font;
//   font-size: 1.7rem;
//   letter-spacing: 0.3rem;
//   margin: 0;
//  }

 footer {
    min-height: 70px;
    width: 100%;
    // border-top: 3px solid v.$accent-color;
    background-color: white;
    display: flex;
 }
.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;  
 }
 .social {
  border-radius: 50%; 
  background-color: white;
   
    
 }
  .linked-in {
    border-radius: 5%;
  }
  // https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/


// LARGE SCREENS
@media only screen and (min-width: 1667px) {
  .header-subheading {
    width: 98%;
  }
}


// TABLETS
@media only screen and (max-width: 768px) {
  html {
   font-size: 12px;
 }
  // @include m.about-me-small-screen-layout;
} 



//MOBILE
@media only screen and (max-width: 480px) {
   html {
    font-size: 9px;
  }
  .header-heading {
    font-size: 4rem;
  }
  .header-subheading {
    font-size: 2rem;
  }

  .article-text {
    font-size: 14px;
  }

  nav {
    grid-template-columns: repeat(3, 1fr);
    height: 4rem;

    a {
      font-size: 1.3rem;
    }
  }
 
  // @include m.about-me-small-screen-layout;
}
    










