@import 'style-vars.scss';

@mixin h1-styles {
  color: #08d993;
  font-size: 5rem;
  font-family: $title-font;
  letter-spacing: 0.15em;
  
}

@mixin subheading-styles {
  font-size: 2.5rem;
  opacity: 0.9;
  font-family: $title-font;
  letter-spacing: 0.1em;
  color: white;
  // color: #FFFCE8;
  
}


@mixin p-styles {
  font-family: $paragraph-font;
  letter-spacing: 0.1em;
  color: white;
  opacity: 0.8;
}