@use 'style-vars.scss' as v;

@mixin h1-styles {
  color: v.$accent-color;
  font-size: 3rem;
  font-family:v.$paragraph-font;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.6rem;
  // letter-spacing: 0.15em;
}

@mixin subheading-styles {
  font-family: v.$paragraph-font;
  font-size: 2rem;
  color:  v.$accent-color;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


@mixin p-styles {
  font-size: 1.2rem;
  font-family: v.$paragraph-font;
  letter-spacing: 0.1em;
  color: v.$font-color;
}

@mixin body-styles {
  margin: 0;
  background-color: v.$background-color;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
 } 


 @mixin about-me-small-screen-layout {
  .content-wrap {
    // grid-template-columns: minmax(auto, 1fr);
    grid-template-areas: 
    "nav"
    "header"
    "article";
  }  
  
  .sidebar {
      display: none;
    }
 }