@import 'style-vars.scss';

@mixin h1-styles {
  color: $accent-color;
  font-size: 5rem;
  font-family: $title-font;
  letter-spacing: 0.15em;
}

@mixin subheading-styles {
  font-size: 2.5rem;
  font-family: $paragraph-font;
  letter-spacing: 0.1em;
  color: $font-color;
}

@mixin p-styles {
  font-size: 1.2rem;
  font-family: $paragraph-font;
  letter-spacing: 0.1em;
  color: $font-color;
}

@mixin body-styles {
  margin: 0;
  background-color: $background-color;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
 } 
