@use 'style-vars' as v;
@use 'mixins' as m;

@mixin nav {
    grid-area: nav;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center; 
    width: 100%;
    height: 3rem; 
    margin-top: 0rem;
    margin-bottom: 1rem;
    // border-top: 3px solid v.$accent-color;
    border-bottom: 3px solid v.$accent-color;  
    z-index: 10;  
    position: sticky;
    top: 0rem;
    background-color: white;

    a {
      font-weight: 570;
      color: v.$background-color;
      letter-spacing: 0.15rem;
      font-family: v.$paragraph-font;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
         color: v.$accent-color;
       }
    }
}

