@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// font-family: 'Pacifico', cursive;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
// font-family: 'Lato', sans-serif;

// $title-font: 'Pacifico', cursive;
$paragraph-font: 'Lato', sans-serif;
$accent-color: #08d993;
$accent-pink: #f91a6f;
$background-color: #010228;
$font-color: rgba(255, 255, 255, 0.961);
$alice-blue: #ebf8ff;
$background-color-light: #3b3d67;

$accent-color-light: #77f7cc;

// background-color: #FF221F;
    // background-color: #647790;
    // background-color: #6f829b;
    // background-color: #FF1654;